---

---

<div id="footer-container">
  <div class="newsletter">
    <div class="container">
      <h2>Join our newsletter!</h2>
      <p>
        Would you like to recieve news from Quality Knives? Sign up and get 15%
        off your first purchase.
      </p>
      <input type="text" placeholder="Enter your email address" />
      <br />
      <button style="margin-top: 1rem;">Keep me updated!</button>
    </div>
  </div>
  <div class="links">
    <div>
      <strong>Company</strong>
      <a href="/quality-knives/#our-story">Our story</a>
      <a href="/quality-knives/#future">Future Plans</a>
      <a>Find a store near you</a>
    </div>
    <div>
      <strong>Support</strong>
      <a>Terms of Service</a>
      <a>Privacy Policy</a>
      <a>Warranty</a>
      <a>Media</a>
    </div>
    <div>
      <strong>Contact</strong>
      <a href="/quality-knives/contact">Message</a>
      <a>FAQ</a>
      <a>Events</a>
      <a>Work for QK</a>
      <a>Legal</a>
    </div>
    <div>
      <strong>Follow Us</strong>
      <a
        ><i style="font-size: 1.25rem;" class="bx bx-fw bxl-facebook"
        ></i>Facebook</a
      >
      <a
        ><i style="font-size: 1.25rem;" class="bx bx-fw bxl-instagram"
        ></i>Instagram</a
      >
      <a
        ><i style="font-size: 1.25rem;" class="bx bx-fw bxl-linkedin"
        ></i>LinkedIn</a
      >
      <a
        ><i style="font-size: 1.25rem;" class="bx bx-fw bxl-tiktok"
        ></i>TikTok</a
      >
      <a
        ><i style="font-size: 1.25rem;" class="bx bx-fw bxl-youtube"
        ></i>YouTube</a
      >
    </div>
  </div>
  <footer>
    <div class="container">
      <span class="top">
        <ul class="address">
            <li>Quality Knives LLC</li>
            <li>38.8977° N, 77.0365° W</li>
            <li>Tel: +1 (000) 000-0000</li>
        </ul>
        <div class="payments">
          <i style="font-size: 1.25rem;" class="bx bxs-lock-alt"></i>
          <span style="display: grid; grid-template-columns: repeat(3, 1fr); justify-items: center;">
            <i class="bx bx-md bxl-visa"></i>
            <i class="bx bx-md bxl-mastercard"></i>
            <i class="bx bx-md bxl-paypal"></i>
          </span>
        </div>
        <ul class="copyright">
          <li>© Copyright 2025</li>
          <li>Quality Knives LLC</li>
          <li>All rights reserved.</li>
        </ul>
      </span>
      <span class="bottom">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda
        maiores dolor, libero ea a tempore suscipit fuga dolorem error aliquid
        atque tempora voluptatem doloribus soluta necessitatibus magnam nobis,
        nemo tenetur! Hello there!
      </span>
    </div>
  </footer>
</div>

<style>
  #footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(7, 7, 10);
    background-image: url("/assets/images/topography2.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #footer-container .newsletter {
    padding-top: 7rem;
    padding-bottom: 2rem;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #footer-container .newsletter .container {
    width: auto;
  }
  #footer-container .newsletter .container h2 {
    font-size: 3rem;
    margin: 0;
    font-family: "Quantico", serif;
    font-weight: 700;
  }
  #footer-container .newsletter .container p {
    font-size: 0.85rem;
    padding: 0 0.5rem;
  }

  #footer-container .newsletter .container input,
  #footer-container .newsletter .container button {
    width: 100%;
    height: 3rem;
    margin: 0;
    padding: 0;
    border: 0;
  }
  #footer-container .newsletter .container input {
    border: 1px solid rgba(225, 225, 225, 0.75);
    font-size: 0.9rem;
  }
  #footer-container .newsletter .container button {
    color: whitesmoke;
    border: 1px solid rgba(225, 225, 225, 0.75);
    background-color: transparent;
    cursor: pointer;
    backdrop-filter: blur(1px);
    transition: all 0.25s ease;
    font-family: "Quantico", serif;
  }
  #footer-container .newsletter .container button:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  #footer-container .links {
    margin: 3rem 0;
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
  #footer-container .links > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  #footer-container .links > div > strong {
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    font-family: "Quantico", serif;
  }
  #footer-container .links > div a {
    color: whitesmoke;
    opacity: 0.8;
    text-decoration: none;
    font-size: 0.9rem;
  }
  #footer-container .links > div a:hover {
    opacity: 1;
  }

  #footer-container footer {
    padding-top: 1rem;
    background-color: black;
    width: 100%;
  }
  #footer-container footer > .container {
    width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    font-family: "Courier Prime", serif;
  }
  #footer-container footer > .container > .top {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  #footer-container footer > .container > .top > .address,
  #footer-container footer > .container > .top > .copyright {
    font-size: .85rem;
  }

  #footer-container footer > .container > .top > .payments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #footer-container footer > .container > .bottom {
    font-size: .75rem;
    padding-bottom: .5rem;
  }
</style>
