---

---

<div id="header-container">
  <header>
    <div id="logo">
      <img
        width="75"
        height="75"
        src="assets/images/QK Logo White.png"
        alt="QK"
      />
    </div>
    <nav>
      <span class="link-hover-anim">
        <a href="/#featured">Featured</a>
      </span>
      <span class="link-hover-anim">
        <a href="/collection">All Knives</a>
        <div class="submenu">
          <div class="content">
            <strong>Knives</strong>
            <a href="/collection/blacksteel">Blacksteel</a>
            <a href="/collection/ironwood">Ironwood</a>
            <a href="/collection/stealthblade">Stealthblade</a>
          </div>
        </div>
      </span>
      <span class="link-hover-anim">
        <a href="/our-story">Our Story</a>
      </span>
      <span class="link-hover-anim">
        <a href="/contact">Contact</a>
      </span>
    </nav>
  </header>
</div>

<style>
  #header-container {
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header {
    /* border: 1px solid white; */
    font-family: "Quantico", serif;;
    position: fixed;
    z-index: 10;
    top: 0;
    display: inline-flex;
    gap: 1rem;
    width: 90vw;
    flex-wrap: wrap;
  }
  header nav {
    /* border: 1px solid yellow; */
    position: relative;
    height: min-content;
    padding-top: 1.5rem;
    flex: 1;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.15rem;
  }
  header #logo {
    margin-top: .5rem;
  }
  a {
    color: rgb(235, 235, 235);
    text-decoration: none;
  }

  nav a,
  nav span {
    position: relative;
    font-weight: bolder;
  }
  .submenu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    flex-direction: column;
    width: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.15s ease-out;
  }
  .submenu .content {
    transform: translateY(10px);
  }
  .submenu .content strong {
    font-size: 0.95rem;
  }
  .submenu .content a {
    color: rgb(200, 200, 200);
    font-size: 0.9rem;
    font-weight: normal;
  }
  .submenu .content a:hover {
    opacity: 0.75;
  }

  nav span:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
  }

  .link-hover-anim {
    display: inline-block;
    position: relative;
  }
  .link-hover-anim::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3.5px;
    left: 0;
    background-color: whitesmoke;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }
  .link-hover-anim:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
</style>
