---

---

<div id="header-container">
  <header>
    <a href="/quality-knives/" id="logo">
      <img
        width="75"
        height="75"
        src="https://generictype.github.io/quality-knives/assets/images/QK Logo White.png"
        alt="QK"
      />
    </a>
    <!-- <span id="hamburger">
      <input type="checkbox" id="hamburgerControl" />
      <label class="hamburgerBtn" for="hamburgerControl"><i class='bx bx-lg bx-menu'></i></label>
    </span> -->
    <input type="checkbox" id="hamburgerControl" />
    <label id="hamburger" for="hamburgerControl"
      ><i class="bx bx-lg bx-menu"></i></label
    >
    <nav>
      <span class="link-hover-anim">
        <a href="/quality-knives/">Home</a>
      </span>
      <span class="link-hover-anim">
        <a href="/quality-knives/#featured">Featured</a>
      </span>
      <span class="link-hover-anim">
        <a href="/quality-knives/collection">All Knives</a>
        <div class="submenu">
          <div class="content">
            <strong>Knives</strong>
            <a href="/quality-knives/collection/blacksteel">Blacksteel</a>
            <a href="/quality-knives/collection/ironwood">Ironwood</a>
            <a href="/quality-knives/collection/stealthblade">Stealthblade</a>
          </div>
        </div>
      </span>
      <span class="link-hover-anim">
        <a href="/quality-knives/#our-story">Our Story</a>
      </span>
      <span class="link-hover-anim">
        <a href="/quality-knives/contact">Contact</a>
      </span>
    </nav>
  </header>
</div>

<style>
  #header-container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header {
    font-family: "Quantico", serif;
    position: fixed;
    z-index: 10;
    top: 0;
    display: inline-flex;
    gap: 1rem;
    width: 90vw;
    flex-wrap: wrap;
  }
  header nav {
    position: relative;
    height: min-content;
    padding-top: 1.5rem;
    flex: 1;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.15rem;
  }
  header #logo {
    margin-top: 0.5rem;
  }
  a {
    color: rgb(235, 235, 235);
    text-decoration: none;
  }

  nav a,
  nav span {
    position: relative;
    font-weight: bolder;
  }
  .submenu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    flex-direction: column;
    width: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.15s ease-out;
  }
  .submenu .content {
    transform: translateY(10px);
  }
  .submenu .content strong {
    font-size: 0.95rem;
  }
  .submenu .content a {
    color: rgb(200, 200, 200);
    font-size: 0.9rem;
    font-weight: normal;
  }
  .submenu .content a:hover {
    opacity: 0.75;
  }

  nav span:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
  }

  .link-hover-anim {
    display: inline-block;
    position: relative;
  }
  .link-hover-anim::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3.5px;
    left: 0;
    background-color: whitesmoke;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }
  .link-hover-anim:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  #hamburgerControl {
    display: none !important;
  }
  #hamburger {
    display: none;
    box-sizing: border-box;
  }
  #hamburger i {
    transition: all 0.25s ease;
  }

  @media only screen and (max-width: 600px) {
    header {
      justify-content: space-between;
    }
    #hamburger {
      display: block;
      align-self: center;
    }
    #hamburgerControl:checked + label > i {
      transform: rotate(90deg);
    }

    #hamburgerControl:checked ~ nav {
      transform: translateX(0);
    }
    nav {
      transform: translateX(200px);
      transition: all 0.25s ease;
      display: flex !important;
      flex-direction: column !important;
      position: absolute !important;
      right: 0;
      top: 48px;
      align-items: end !important;
      font-size: 2rem !important;
    }
    nav span:hover .submenu {
      display: none !important;
    }
  }
</style>
